<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".PingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_globe_gray"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_globe_gray"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ping">

        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Ping.Transparent" />

        <activity-alias
            android:name=".ui.AliasGreen"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_green"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.AliasRed"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_red"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.AliasGray"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_gray"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".service.PingService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".service.PingAlarmReceiver"
            android:exported="false" />

        <receiver
            android:name=".service.CloseActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.dsp.ping.action.CLOSE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
